/* colors */
:root{
    --color1:#AB0334;
    --color2:#7A0225;
    --color3:rgb(240, 220, 225);
    --color4:rgb(253, 248, 249);

}

.company-logo{
    height: 55px;
    margin-left: 15px;
}

.login-logo-company{
    background-color: var(--color1) !important;
}
