<div class="sidePopup w-1300" id="edpp">

    <!--- close popup -->
    <div class="pp-close" id="edppClose">
        <div class="pp-close-icon-modern">
            <i class="fa-solid fa-xmark"></i>
        </div>
    </div>

    <!--- titles -->
    <div class="popup-header">
        <h2 class="popup-title">Detalle de Eventos</h2>
        <p class="popup-subtitle" id="edppTitle"></p>
    </div>

    <!--- filters --->
    <div class="filters-card">
        <div class="inputs-row">
            <div class="div-input">
                <label class="label-std">Fecha desde</label>
                <input type="date" class="input-std w-140" id="dateFrom" autocomplete="off">
            </div>
            <div class="div-input">
                <label class="label-std">Fecha hasta</label>
                <input type="date" class="input-std w-140" id="dateUntil" autocomplete="off">
            </div>
            <div class="div-input">
                <label class="label-std">Duración mín (seg)</label>
                <input type="number" class="input-std w-140" id="durationMin" autocomplete="off">
            </div>
            <div class="div-input">
                <label class="label-std">Duración máx (seg)</label>
                <input type="number" class="input-std w-140" id="durationMax" autocomplete="off">
            </div>
            <div class="div-input">
                <label class="label-std">&nbsp;</label>
                <div id="edppUnfilter" class="unfilter-btn">
                    <i class="fa-solid fa-filter-circle-xmark"></i>
                    <span>Limpiar filtros</span>
                </div>
            </div>
        </div>
    </div>

    <!--- lista de eventos --->
    <div class="events-list-container">
        <div class="events-list-header">
            <div class="list-header-item" style="flex: 1.5;">FECHA</div>
            <div class="list-header-item" style="flex: 1.5;">HORA</div>
            <div class="list-header-item" style="flex: 1.5;">DURACIÓN [seg]</div>
            <div class="list-header-item" style="width: 80px;">
                <i class="fa-regular fa-eye" id="viewIcon" style="display: none;"></i>
            </div>
            <div class="list-header-item" style="width: 80px;">
                <i class="fa-solid fa-download" id="downloadIcon" style="display: none;"></i>
            </div>
        </div>
        
        <div class="events-list" id="edppTable">
            <!-- table tooltip -->
            <div class="t-tooltip" id="viewInfo">Ver video</div>
            <div class="t-tooltip" id="downloadInfo">Descargar video</div>
            
            <!-- Lista generada dinámicamente -->
            <div id="edppBody"></div>
        </div>
    </div>
</div>

<!-- loader -->
<div class="loader ld-std" id="edppLoader">
    <div class="ld-content ld-edpp top-55p"></div>
</div>




