<!--- view cideo popuo (VVPP) -->
<div class="popup pp-1st" id="vvpp">

    <div class="pp-content mt-150 ml-50 w-1200" id="vvppContent">

    <!--- close popup -->
    <div class="pp-close" id="vvppClose">
        <div class="pp-close-icon w-20 h-20 tl">x</div>
    </div>

    <!--- title -->
    <div class="txxl fw-b mt-10 ta-c" id="vvppTitle"></div>
    <div class="tl mt-10 mb-25 ta-c" id="vvppSubtitle"></div>

    <!--- video -->
    <div id="vvppVideo" class="mb-50 ta-c">        
        <video preload="none" class="h-250" id="vvppVideoPlayer" controls muted playsinline>
            <source src="" type="video/mp4" id="vvppVideoName">
        </video>
    </div>

</div>


