<!--- view video popup (VVPP) -->
<div class="popup pp-1st" id="vvpp">

    <div class="pp-content video-popup-content" id="vvppContent">

    <!--- close popup -->
    <div class="pp-close" id="vvppClose">
        <div class="pp-close-icon-modern">
            <i class="fa-solid fa-xmark"></i>
        </div>
    </div>

    <!--- header -->
    <div class="popup-header">
        <h2 class="popup-title" id="vvppTitle"></h2>
        <p class="popup-subtitle" id="vvppSubtitle"></p>
    </div>

    <!--- video -->
    <div id="vvppVideo" class="video-container">        
        <video preload="none" id="vvppVideoPlayer" controls playsinline>
            <source src="" type="video/mp4" id="vvppVideoName">
        </video>
    </div>

</div>
</div>
