<div class="sidePopup sidePXXL" id="eventsPopup">

    <div class="notVisible" id="vehicleCode"></div>
    <div class="notVisible" id="findVideo"></div>
    
    <div class="divClosePopup">
        <div class="closeSidePopup" id="closeSidePopup">X</div>
    </div>

    <div class="titleL sidePtitle" id="title">Detalle de eventos</div>

    <div class="titleM sidePsubtitle" id="vehicleTitle"></div>

    <div class="divInputsRow mtL relativeDiv">
        
        <div class="divInput">
            <label for="item" class="label1">Fecha</label>
            <input type="date" name="item" class="input1 wM" id="filterDate">
        </div>

        <div class="filterIcon">
            <i class="fa-solid fa-filter-circle-xmark" id="unfilterDate"></i>
        </div>

        <div class="divCheckbox">
            <input type="checkbox" id="showAllSteps">
            <label for="mostrarDetalles">Mostrar detalles</label>
        </div>

    </div>

    <div id="eventsCards"></div>

    <!---Video popup-->
    <!---<div class="infoPopup" id="eventVideo">
        <div class="closePopup" id="closeEventVideo">X</div>
        <div class="titleS" id="vehicleCode"></div>        
        <div class="videoSubtitle" id="eventDate"></div>
        <div class="divVideo" id="divVideo"></div>
    </div>--->

    <!---location popup-->
    <!---<div class="infoPopup" id="eventLocation">
        <div class="closePopup" id="closeEventLocation">X</div>
        <div class="titleS" id="eventVehicleCode"></div>        
        <div class="videoSubtitle" id="eventLatLong"></div>
        <div id="eventLocationContainer">
            <gmp-map center="-38.956430668857486, -68.072188518988" zoom="13" map-id="locationMap" id="gmpMap2">
                <gmp-advanced-marker position="-38.956430668857486, -68.072188518988" title="My location" id="gmpMapMarker2"></gmp-advanced-marker>
            </gmp-map>
        </div>
    </div>--->

</div>

