<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://kit.fontawesome.com/acec93ee08.js" crossorigin="anonymous"></script>

    <!----maps apis script---->
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqzAMm1WZGJMQwy-_uXrk_2nfqQi1ZQac&callback=console.debug&libraries=maps,marker&v=beta"></script>
    </script>

    <link rel="icon" type="image/jpg" href="/images/favicon.jpg"/>

    <link rel="stylesheet" href="/css/generals.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/styles.css">
        
    <title><%= title %></title>
</head>
